html, body {
  margin: 0;
  padding: 0;
}
body{
  background-color:#333333;
}
canvas {
  display: block;
}
section.presentation{
  position: absolute;
  top: 100px;
  color: white;
  font-size: 1.8rem ;
  text-align: center ;
  width: 80%;
  background:linear-gradient(45deg,#48407ee0,#5b509f94,#776db93f);
  margin-left: 10%;
}